form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid green; */
  margin: 0 auto;
}

input {
  border-radius: 3px;
  padding: 1em;
  border: 1px solid #ccc;
  font-size: 1em;
  margin-bottom: 8px;
  width: 157%;
  box-sizing: border-box;
  height: 40px;
}
